---
- name: Update apt cache
  apt:
    update_cache: true
    cache_valid_time: 3600

- name: Install baseline packages
  apt:
    name: "{{ common_baseline_packages }}"
    state: present

- name: Set system timezone
  community.general.timezone:
    name: "{{ common_timezone }}"

- name: Ensure unattended-upgrades package is installed
  apt:
    name: unattended-upgrades
    state: present

- name: Configure unattended upgrades
  template:
    src: "20auto-upgrades.j2"
    dest: /etc/apt/apt.conf.d/20auto-upgrades
    owner: root
    group: root
    mode: '0644'
  # notify: restart unattended upgrades
