---
- name: Install WireGuard
  apt:
    name: wireguard
    state: present
    update_cache: true

- name: Ensure WireGuard config directory exists
  file:
    path: /etc/wireguard
    state: directory
    mode: '0700'

- name: Deploy WireGuard configuration
  template:
    src: wg0.conf.j2
    dest: "/etc/wireguard/{{ wireguard_interface }}.conf"
    mode: '0600'
  notify: Restart WireGuard

- name: Enable WireGuard service
  systemd:
    name: "wg-quick@{{ wireguard_interface }}"
    enabled: true
    state: started

# UFW Rules
- name: Ensure UFW is installed
  apt:
    name: ufw
    state: present

- name: Allow WireGuard port
  ufw:
    rule: allow
    port: "{{ wireguard_port }}"
    proto: udp

- name: Allow SSH
  ufw:
    rule: allow
    port: 22
    proto: tcp

- name: Enable UFW
  ufw:
    state: enabled
    policy: deny

# Enable Forwarding with Ansible (raher than with the wg0.conf config)
- name: Enable IP forwarding in UFW
  lineinfile:
    path: /etc/default/ufw
    regexp: '^DEFAULT_FORWARD_POLICY='
    line: 'DEFAULT_FORWARD_POLICY="ACCEPT"'
  notify: Reload UFW

- name: Add NAT masquerading for WireGuard
  blockinfile:
    path: /etc/ufw/before.rules
    block: |
      # NAT table rules
      *nat
      :POSTROUTING ACCEPT [0:0]
      -A POSTROUTING -s {{ wireguard_network }} -o {{ external_interface }} -j MASQUERADE
      COMMIT
  notify: Reload UFW

#use of blockinfile?
  # Prevents duplicate rules
  # Safe re-runs
  # Clear ownership